<div class="overview-container">
    <div class="header-section">
        <h2 class="page-title">Coins</h2>
        <div class="main-actions-container">
            <button (click)="onUpdatePricesClicked()" class="btn-update-prices">
                <ng-icon name="heroArrowPath" class="text-xl"></ng-icon>
                Prices
            </button>
            <a routerLink="/coin-new">
                <button class="btn-create">
                    <ng-icon name="heroDocumentPlus" class="text-xl"></ng-icon>
                </button>
            </a>
        </div>
        @if (confirmDeleteId()) {
            <app-confirm-dialog
                [title]="'Delete Coin'"
                [message]="'Are you sure you want to delete this coin?'"
                (confirm)="onDialogConfirm()"
                (cancel)="onDialogCancel()"
            />
        }
    </div>

    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th scope="col" class="text-left">Name</th>
                    <th scope="col" class="text-left">Symbol</th>
                    <th scope="col" class="text-left">Slug</th>
                    <th scope="col" class="text-right">Price (€)</th>
                    <th scope="col" class="text-left w-full">Updated At</th>
                </tr>
            </thead>
            <tbody>
                @if (coinsResource.isLoading()) {
                    <tr>
                        <td colspan="5" class="loading-state-cell">Refreshing coin data...</td>
                    </tr>
                } @else if (coinsResource.error()) {
                    <tr>
                        <td colspan="5" class="error-msg">Failed to load coins.</td>
                    </tr>
                } @else {
                    @for (coin of coinsResource.value(); track coin.id) {
                        <tr>
                            <td>
                                <div class="actions-container">
                                    <a [routerLink]="['/coin-edit', coin.id]" class="btn-edit">
                                        <ng-icon name="heroPencilSquare" class="text-lg"></ng-icon>
                                    </a>
                                    <button (click)="onDeleteClicked(coin.id.toString())" class="btn-delete">
                                        <ng-icon name="heroTrash" class="text-lg"></ng-icon>
                                    </button>
                                    <a class="hover:text-blue-800 hover:underline transition-colors" [routerLink]="['/coins', coin.id]">{{coin.name}}</a>
                                </div>
                            </td>
                            <td>{{coin.symbol}}</td>
                            <td>{{coin.slug}}</td>
                            <td class="text-right">
                                {{coin.price || 0 | currency: 'EUR':'symbol':'1.2-10'}}
                            </td>
                            <td class="w-full">
                                {{coin.updatedAt | date: 'dd-MM-yyyy HH:mm:ss'}}
                            </td>
                        </tr>
                    } @empty {
                        <tr><td colspan="5">No coins found.</td></tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>