@import "tailwindcss";

.btn-update-prices {
  @apply text-indigo-600 hover:text-indigo-900 bg-indigo-50 hover:bg-indigo-100 px-3 py-1.5 rounded-md transition-colors;
  @apply text-sm font-semibold border border-gray-300 rounded-lg;
}
