<div class="overview-container">
    <div class="header-section">
        <h2 class="page-title">Coins</h2>
        <div class="main-actions-container">
            <button (click)="onUpdatePricesClicked()" class="btn-common btn-update-prices" title="Update Prices">
                <ng-icon name="heroArrowPath" class="text-xl" title="Update Prices" />
                Prices
            </button>
            <button (click)="openNewFormDialog()" class="btn-common btn-create" title="Create Coin">
                <ng-icon name="heroDocumentPlus" class="text-xl" title="Create Coin" />
            </button>
        </div>
        @if (confirmDeleteId()) {
            <app-confirm-dialog
                [title]="'Delete Coin'"
                [message]="'Are you sure you want to delete this coin?'"
                (confirmDialog)="onDialogConfirm()"
                (cancelDialog)="onDialogCancel()"
            />
        }
        @if (showFormDialog()) {
            <app-coin-page [id]="editingAssetId" (closed)="onFormDialogClose()" />
        }
    </div>

    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th scope="col" class="text-left" (click)="setSort('name')">
                        Name
                        @if (sorting.sortColumn() === 'name') {
                            <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                        }
                    </th>
                    <th scope="col" class="text-left" (click)="setSort('symbol')">
                        Symbol
                        @if (sorting.sortColumn() === 'symbol') {
                            <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                        }
                    </th>
                    <th scope="col" class="text-left" (click)="setSort('slug')">Slug
                        @if (sorting.sortColumn() === 'slug') {
                            <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                        }
                    <th scope="col" class="text-right" (click)="setSort('price')">Price (€)
                        @if (sorting.sortColumn() === 'price') {
                            <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                        }
                    </th>
                    <th scope="col" class="text-left w-full" (click)="setSort('updatedAt')">
                        Updated At
                        @if (sorting.sortColumn() === 'updatedAt') {
                            <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (coinsResource.isLoading()) {
                    <tr>
                        <td colspan="5" class="loading-state-cell">Refreshing coin data...</td>
                    </tr>
                } @else if (coinsResource.error()) {
                    <tr>
                        <td colspan="5" class="error-msg">Failed to load coins.</td>
                    </tr>
                } @else {
                    @for (coin of sortedCoins(); track coin.id) {
                        <tr>
                            <td>{{coin.name}}</td>
                            <td>{{coin.symbol}}</td>
                            <td>{{coin.slug}}</td>
                            <td class="text-right">
                                {{coin.price || 0 | currency: 'EUR':'symbol':'1.2-10'}}
                            </td>
                            <td class="actions-column w-ful">
                                <div class="w-full">{{coin.updatedAt | date: 'dd-MM-yyyy HH:mm:ss'}}</div>
                                <div class="actions-container">
                                    <button (click)="openEditFormDialog(coin.id.toString())" class="btn-common btn-edit" title="Edit Coin">
                                        <ng-icon name="heroPencilSquare" class="text-lg" title="Edit Coin" />
                                    </button>
                                    <button
                                        (click)="onDeleteClicked(coin.id.toString())"
                                        class="btn-common btn-delete" title="Delete Coin">
                                        <ng-icon name="heroTrash" class="text-lg" title="Delete Coin" />
                                    </button>
                                </div>
                            </td>
                        </tr>
                    } @empty {
                        <tr><td colspan="5">No coins found.</td></tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>