<div class="overview-container">
    <div class="header-section">
        <h2 class="page-title">Transactions</h2>
        <div class="main-actions-container">
            <button (click)="openNewFormDialog()" class="btn-common btn-create" title="Create Transaction">
                <ng-icon name="heroDocumentPlus" class="text-xl" title="Create Transaction" />
            </button>
            <a [routerLink]="['/assets']">
                <button class="btn-common btn-back" title="Back to Assets">
                    <ng-icon name="heroArrowLeft" class="text-xl" title="Back to Assets" />
                </button>
            </a>

        </div>
        @if (confirmDeleteId()) {
            <app-confirm-dialog
                [title]="'Delete Transaction'"
                [message]="'Are you sure you want to delete this transaction?'"
                (confirmDialog)="onDialogConfirm()"
                (cancelDialog)="onDialogCancel()"
            />
        }
        @if (showFormDialog()) {
            <app-transaction-page
                [id]="editingTransactionId"
                [assetid]="assetid()"
                [fromTotalsRow]="fromTotalsRow()"
                [sumDeposit]="sumDeposit()"
                [sumAvailable]="sumAvailable()"
                [sumStaked]="sumStaked()"
                (closed)="onFormDialogClose()" />
        }
    </div>

    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                        <th scope="col" class="text-left cursor-pointer select-none" (click)="setSort('assetinfo')">
                            Asset Info
                            @if (sorting.sortColumn() === 'assetinfo') {
                                <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                            }
                        </th>
                        <th scope="col" class="text-right cursor-pointer select-none" (click)="setSort('deposit')">
                            Deposit
                            @if (sorting.sortColumn() === 'deposit') {
                                <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                            }
                        </th>
                        <th scope="col" class="text-right cursor-pointer select-none" (click)="setSort('available')">
                            Available
                            @if (sorting.sortColumn() === 'available') {
                                <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                            }
                        </th>
                        <th scope="col" class="text-right cursor-pointer select-none" (click)="setSort('staked')">
                            Staked
                            @if (sorting.sortColumn() === 'staked') {
                                <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                            }
                        </th>
                        <th scope="col" class="text-right cursor-pointer select-none" (click)="setSort('averagePrice')">
                            Avg Price
                            @if (sorting.sortColumn() === 'averagePrice') {
                                <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                            }
                        </th>
                        <th scope="col" class="text-right cursor-pointer select-none" (click)="setSort('percPrice')">
                            % Price
                            @if (sorting.sortColumn() === 'percPrice') {
                                <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                            }
                        </th>
                        <th scope="col" class="text-right cursor-pointer select-none" (click)="setSort('currentPrice')">
                            Curr Price
                            @if (sorting.sortColumn() === 'currentPrice') {
                                <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                            }
                        </th>
                        <th scope="col" class="text-right cursor-pointer select-none" (click)="setSort('currentValue')">
                            Curr Value
                            @if (sorting.sortColumn() === 'currentValue') {
                                <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                            }
                        </th>
                        <th scope="col" class="text-right cursor-pointer select-none" (click)="setSort('gains')">
                            Gains
                            @if (sorting.sortColumn() === 'gains') {
                                <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                            }
                        </th>
                        <th scope="col" class="text-right cursor-pointer select-none" (click)="setSort('percGains')">
                            % Gains
                            @if (sorting.sortColumn() === 'percGains') {
                                <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                            }
                        </th>
                        <th scope="col" class="text-left cursor-pointer select-none" (click)="setSort('description')">
                            Description
                            @if (sorting.sortColumn() === 'description') {
                                <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                            }
                        </th>
                        <th scope="col" class="text-left w-full cursor-pointer select-none" (click)="setSort('updatedAt')">
                            Updated At
                            @if (sorting.sortColumn() === 'updatedAt') {
                                <ng-icon [name]="sorting.sortDirection() === 'asc' ? 'heroArrowUp' : 'heroArrowDown'" class="inline-block text-xs ml-1" />
                            }
                        </th>
                </tr>
            </thead>
            <tbody>
                    @if (transactionsResource.isLoading()) {
                        <tr>
                            <td colspan="12" class="loading-state-cell">Loading assets...</td>
                        </tr>
                    } @else if (transactionsResource.error()) {
                        <tr>
                            <td colspan="12" class="error-msg">Failed to load assets.</td>
                        </tr>
                    } @else {
                        @for (transactionasset of sortedTransactions(); track transactionasset.id) {
                            <tr>
                            <td>{{transactionasset.assetinfo}}</td>
                            <td class="text-right">{{transactionasset.deposit | currency: 'EUR':'symbol':'1.2-2'}}</td>
                            <td class="text-right">{{transactionasset.available | number:'1.2-10'}}</td>
                            <td class="text-right">{{transactionasset.staked | number:'1.2-10'}}</td>
                            <td class="text-right">{{transactionasset.averagePrice | currency: 'EUR':'symbol':'1.2-10'}}</td>
                            <td class="text-right">{{transactionasset.percPrice | number:'1.2-2'}}%</td>
                            <td class="text-right">{{transactionasset.currentPrice | currency: 'EUR':'symbol':'1.2-10'}}</td>
                            <td class="text-right">{{transactionasset.currentValue | currency: 'EUR':'symbol':'1.2-2'}}</td>
                            <td class="text-right"><span [class]="(transactionasset.gains ?? 0) > 0 ? 'positive-value' : (transactionasset.gains ?? 0) < 0 ? 'negative-value' : ''">{{transactionasset.gains | currency: 'EUR':'symbol':'1.2-2'}}</span></td>
                            <td class="text-right"><span [class]="(transactionasset.percGains ?? 0) > 0 ? 'positive-value' : (transactionasset.percGains ?? 0) < 0 ? 'negative-value' : ''">{{transactionasset.percGains | number:'1.2-2'}}%</span></td>
                            <td class="text-left">{{transactionasset.description}}</td>
                            <td class="actions-column w-full">
                                <div class="w-full">{{transactionasset.updatedAt | date: 'dd-MM-yyyy HH:mm:ss'}}</div>
                                <div class="actions-container">
                                    <button (click)="openEditFormDialog(transactionasset.id.toString())" class="btn-common btn-edit" title="Edit Transaction">
                                        <ng-icon name="heroPencilSquare" class="text-lg" title="Edit Transaction" />
                                    </button>
                                    <button
                                        (click)="onDeleteClicked(transactionasset.id.toString())"
                                        class="btn-common btn-delete" title="Delete Transaction">
                                        <ng-icon name="heroTrash" class="text-lg" title="Delete Transaction" />
                                    </button>
                                </div>
                            </td>
                        </tr>
                    } @empty {
                        <tr><td colspan="7">No transactions found.</td></tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>Totals</td>
                    <td class="text-right">{{sumDeposit() | currency: 'EUR':'symbol':'1.2-2'}}</td>
                    <td class="text-right">{{sumAvailable() | number: '1.2-10'}}</td>
                    <td class="text-right">{{sumStaked() | number: '1.2-10'}}</td>
                    <td class="text-right">{{averagePrice() | currency: 'EUR':'symbol':'1.2-10'}}</td>
                    <td colspan="2"></td>
                    <td class="text-right">{{sumCurrentValue() | currency: 'EUR':'symbol':'1.2-2'}}</td>
                    <td class="text-right">
                        <span [class]="sumGains() > 0 ? 'positive-value' : sumGains() < 0 ? 'negative-value' : ''">{{sumGains() | currency: 'EUR':'symbol':'1.2-2'}}</span>
                    </td>
                    <td class="text-right">
                        <span [class]="percTotalGains() > 0 ? 'positive-value' : percTotalGains() < 0 ? 'negative-value' : ''">{{percTotalGains() | number:'1.2-2'}}%</span>
                    </td>
                    <td></td>
                    <td class="actions-column w-full">
                        <div class="w-full"></div>
                        <div class="actions-container">
                            <button (click)="openTotalsEditFormDialog()" class="btn-common btn-edit" title="Create Transaction from Totals Row">
                                <ng-icon name="heroPencilSquare" class="text-lg" title="Create Transaction from Totals Row" />
                            </button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>