/* You can add global styles to this file, and also import other style files
*/
@import "tailwindcss";

.overview-container {
  @apply flex flex-col h-screen p-6 overflow-hidden max-h-[80vh];
}

/* --- Header Section (H2 and main buttons) --- */
.header-section {
  @apply flex flex-col sm:flex-row sm:items-center justify-between gap-4 mb-6;
  @apply flex-none;
}

.page-title {
  @apply text-2xl font-bold text-gray-900 tracking-tight capitalize;
}

.main-actions-container {
  @apply flex items-center gap-3;
}

.table-container {
  @apply overflow-x-auto border border-gray-200 rounded-xl;
  @apply flex-auto min-h-0;
}

.data-table {
  @apply w-full border-separate border-spacing-0;
}

.data-table thead {
  @apply sticky top-0 z-10 bg-gray-50 shadow-sm;
}

.data-table tfoot {
  @apply sticky bottom-0 z-10 bg-gray-50 shadow-[0_-1px_0_rgba(229,231,235,1)];
}

.data-table th, .data-table td {
    @apply px-6 py-4 whitespace-nowrap border-b border-gray-200;
}

.data-table th {
    @apply text-xs font-bold text-gray-500 uppercase tracking-wider bg-gray-50;
}

.data-table tbody tr  {
    @apply hover:bg-gray-50/80 transition-colors text-sm text-gray-500 font-semibold bg-white;
}

.loading-state-cell {
    @apply px-6 py-10 text-center text-sm text-gray-500 italic;
}

.actions-cell {
    @apply text-right flex justify-end gap-3;
}

.actions-container {
    @apply flex justify-end gap-3;
}

/* --- Action Buttons --- */

.btn-create {
  @apply text-green-600 hover:text-green-900 bg-green-50 hover:bg-green-100 px-3 py-1.5 rounded-md transition-colors;
  @apply text-sm font-semibold border border-gray-300 rounded-lg;
}

.btn-edit {
  @apply text-indigo-600 hover:text-indigo-900 bg-indigo-50 hover:bg-indigo-100 px-3 py-1.5 rounded-md transition-colors;
  @apply text-sm font-semibold border border-gray-300 rounded-lg;
}

.btn-delete {
  @apply text-red-600 hover:text-red-900 bg-red-50 hover:bg-red-100 px-3 py-1.5 rounded-md transition-colors;
  @apply text-sm font-semibold border border-gray-300 rounded-lg;
}

.btn-update-prices {
  @apply text-indigo-600 hover:text-indigo-900 bg-indigo-50 hover:bg-indigo-100 px-3 py-1.5 rounded-md transition-colors;
  @apply text-sm font-semibold border border-gray-300 rounded-lg;
}

.loading-text {
  @apply text-gray-500 italic py-10 text-center;
}


