<div class="overview-container">
    <div class="header-section">
        <h2 class="page-title">Assets</h2>
        <div class="main-actions-container">
            <button (click)="onUpdatePricesClicked()" class="btn-update-prices">
                <ng-icon name="heroArrowPath" class="text-xl"></ng-icon>
                Prices
            </button>
            <a routerLink="/asset-new">
                <button class="btn-create">
                    <ng-icon name="heroDocumentPlus" class="text-xl"></ng-icon>
                </button>
            </a>
        </div>
    </div>

    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th scope="col" class="text-left">Coin</th>
                    <th scope="col" class="text-left">Wallet</th>
                    <th scope="col" class="text-left">Chain</th>
                    <th scope="col" class="text-right">Deposit</th>
                    <th scope="col" class="text-right">Available</th>
                    <th scope="col" class="text-right">Staked</th>
                    <th scope="col" class="text-right">Avg Price</th>
                    <th scope="col" class="text-right">% Price</th>
                    <th scope="col" class="text-right">Curr Price</th>
                    <th scope="col" class="text-right">Curr Value</th>
                    <th scope="col" class="text-right">Gains</th>
                    <th scope="col" class="text-right">% Gains</th>
                    <th scope="col" class="text-left w-full">Updated At</th>
                </tr>
            </thead>
            <tbody>
                <!-- 1. Use isLoading() signal for the loading state -->
                @if (assetsResource.isLoading()) {
                    <tr>
                        <td colspan="13" class="loading-state-cell">Loading assets...</td>
                    </tr>
                } @else if (assetsResource.error()) {
                    <!-- 2. Use error() signal to handle failures -->
                    <tr>
                        <td colspan="13" class="error-msg">Failed to load assets.</td>
                    </tr>
                } @else {
                    <!-- 3. Use value() signal to iterate over the data -->
                    @for (asset of assetsWithComputed(); track asset.id) {
                        <tr>
                            <td>
                                <div class="actions-container">
                                    <a [routerLink]="['/asset-edit', asset.id]" class="btn-edit">
                                        <ng-icon name="heroPencilSquare" class="text-lg"></ng-icon>
                                    </a>
                                    <button (click)="onDeleteClicked(asset.id.toString())" class="btn-delete">
                                        <ng-icon name="heroTrash" class="text-lg"></ng-icon>
                                    </button>
                                    <a class="hover:text-blue-800 hover:underline transition-colors" [routerLink]="['/assets', asset.id]">{{asset.coinsymbol}}</a>
                                </div>
                            </td>
                            <td>{{asset.walletname}}</td>
                            <td>{{asset.chainname}}</td>
                            <td class="text-right">{{asset.deposit | currency: 'EUR':'symbol':'1.2-2'}}</td>
                            <td class="text-right">{{asset.available | number:'1.2-10'}}</td>
                            <td class="text-right">{{asset.staked | number:'1.2-10'}}</td>
                            <td class="text-right">{{asset.averagePrice | currency: 'EUR':'symbol':'1.2-10'}}</td>
                            <td class="text-right">{{asset.percPrice | number:'1.2-2'}}%</td>
                            <td class="text-right">{{asset.currentPrice | currency: 'EUR':'symbol':'1.2-10'}}</td>
                            <td class="text-right">{{asset.currentValue | currency: 'EUR':'symbol':'1.2-2'}}</td>
                            <td class="text-right"><span [class]="asset.gains > 0 ? 'positive-value' : asset.gains < 0 ? 'negative-value' : ''">{{asset.gains | currency: 'EUR':'symbol':'1.2-2'}}</span></td>
                            <td class="text-right"><span [class]="asset.percGains > 0 ? 'positive-value' : asset.percGains < 0 ? 'negative-value' : ''">{{asset.percGains | number:'1.2-2'}}%</span></td>
                            <td class="w-full">
                                {{asset.updatedAt | date: 'dd-MM-yyyy HH:mm:ss'}}
                            </td>
                        </tr>
                    } @empty {
                        <tr><td colspan="13">No assets found.</td></tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Totals</td>
                    <td class="text-right">{{sumDeposit() | currency: 'EUR':'symbol':'1.2-2'}}</td>
                    <td colspan="5"></td>
                    <td class="text-right">{{sumCurrentValue() | currency: 'EUR':'symbol':'1.2-2'}}</td>
                    <td class="text-right">
                        <span [class.text-green-600]="sumGains() > 0" [class.text-red-600]="sumGains() < 0">{{sumGains() | currency: 'EUR':'symbol':'1.2-2'}}</span>
                    </td>
                    <td class="text-right">
                        <span [class.text-green-600]="percTotalGains() > 0" [class.text-red-600]="percTotalGains() < 0">{{percTotalGains() | number:'1.2-2'}}%</span>
                    </td>
                    <td class="w-full" colspan="1"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>